.card-content-model-s {
  color: white;
  position: absolute;
  left: 2%;
  font-size: 18px;
  display: inline;
  top: 9%;
}
.card-content-description-s {
  color: black;
  margin: 2% 0 0 2%;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
}

.card-content-view-details-s {
  color: #46bcbb;
  display: flex;
  margin-bottom: 5%;
  justify-content: flex-end;
  margin-top: -15%;
}
.card-item-s {
  margin-top: 2%;
  margin: 0 20px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card-content-view-details-button-s {
  color: black;
  width: 40%;
}
