.filter {
  width: 19%;
  border: 1px solid darkgrey;
  float: left;
  padding-left: 1%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding-right: 1%;
  margin-left: 11%;
}
.filter-form {
  display: flex;
}

.filter-button {
  color: #7dd0cf;
  background-color: #7dd0cf;
  background-image: url("../../../assets/search.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  width: 35px;
  height: 35px;
}
.filter-text-input {
  width: 75%;
  padding: 3px;
  border-right: 0px;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #7dd0cf;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: solid 2px #ccc;
}
.star-rating,
.property-type,
.meals {
  font-size: 22px;
}
.star-rating input {
  padding: 25px;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ddd;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #bbb;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 1150px) {
  .filter {
    width: 100%;
    /* float: left; */
    /* margin-left: 2%; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .line-filter {
    display: none;
  }
  .hotel-name-input-filte {
    display: flex;
  }
  .start-rating-levels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }
  .star-rating {
    width: 100%;
  }
  .property-type-levels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .slidecontainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .slider {
    width: 50%;
  }
  .slider-container-min-price {
    width: 13%;
    margin-top: 1%;
  }
  .container-checkbox {
    width: 160px;
  }
  .meals-container-levels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .filter-form {
    width: 78%;
  }
  .container-checkbox-new-size {
    width: 227px;
  }
  .meals-container-levels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
