.input3 {
  position: relative;
    width: 48%;
    padding: 1%;
    left: 26%;
    margin-top: 5%;
    border: 1px solid #b6b1b1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}
.input4 {
  position: relative;
    width: 48%;
    padding: 1%;
    left: 26%;
    margin-top: 5%;
    border: 1px solid #b6b1b1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}